In [3]:
import pandas as pd
import numpy as np

stop_data = pd.read_csv("Police_Stop_Data.csv")
force_data = pd.read_csv("Police_Use_of_Force.csv")
shots_data = pd.read_csv("Shots_Fired.csv", low_memory=False)
weather_data = pd.read_csv("DailyPrecipReports_MN_2008-01-01_1.csv", low_memory=False)

In [4]:
stop_data.info()
force_data.info()
shots_data.info()
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175770 entries, 0 to 175769
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   OBJECTID              175770 non-null  int64
 1   masterIncidentNumber  175770 non-null  object
 2   responseDate          175770 non-null  object
 3   reason                138280 non-null  object
 4   problem               175770 non-null  object
 5   callDisposition       173479 non-null  object
 6   citationIssued        123304 non-null  object
 7   personSearch          154403 non-null  object
 8   vehicleSearch         154403 non-null  object
 9   preRace               154403 non-null  object
 10  race                  154403 non-null  object
 11  gender                154403 non-null  object
 12  lat                   175770 non-null  float64
 13  long                  175770 non-null  float64
 14  x                     175770 non-null  float64
 15  y                     175770 non-null  float64
 16  policePrecinct        174214 non-null  float64
 17  neighborhood          174214 non-null  object
 18  lastUpdateDate        175770 non-null  object
dtypes: float64(5), int64(1), object(13)
memory usage: 16.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32382 entries, 0 to 32381
Data columns (total 30 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   X                              32382 non-null  float64
 1   Y                              32382 non-null  float64
 2   PoliceUseOfForceID             32382 non-null  int64
 3   CaseNumber                     32382 non-null  object
 4   ResponseDate                   32382 non-null  object
 5   Problem                        31030 non-null  object
 6   Is911Call                      31158 non-null  object
 7   PrimaryOffense                 31161 non-null  object
 8   SubjectInjury                  19692 non-null  object
 9   ForceReportNumber              32382 non-null  int64
 10  SubjectRole                    31081 non-null  object
 11  SubjectRoleNumber              32299 non-null  float64
 12  ForceType                      31164 non-null  object
 13  ForceTypeAction                32382 non-null  object
 14  Race                           31164 non-null  object
 15  Sex                            31164 non-null  object
 16  EventAge                       30335 non-null  float64
 17  TypeOfResistance               29928 non-null  object
 18  Precinct                       31145 non-null  object
 19  Neighborhood                   32228 non-null  object
 20  TotalCityCallsForYear          32382 non-null  int64
 21  TotalPrecinctCallsForYear      31164 non-null  float64
 22  TotalNeighborhoodCallsForYear  32382 non-null  int64
 23  CenterGBSID                    32382 non-null  int64
 24  CenterLatitude                 32382 non-null  float64
 25  CenterLongitude                32382 non-null  float64
 26  CenterX                        32382 non-null  float64
 27  CenterY                        32382 non-null  float64
 28  DateAdded                      32382 non-null  object
 29  OBJECTID                       32382 non-null  int64
dtypes: float64(9), int64(6), object(15)
memory usage: 5.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69286 entries, 0 to 69285
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   X                       69286 non-null  float64
 1   Y                       69286 non-null  float64
 2   OBJECTID                69286 non-null  int64
 3   longitude               69286 non-null  float64
 4   latitude                69286 non-null  float64
 5   Jurisdiction            69286 non-null  object
 6   Master_Incident_Number  69286 non-null  object
 7   Division                69260 non-null  object
 8   Problem                 69286 non-null  object
 9   Response_Date           69286 non-null  object
 10  Time                    69286 non-null  object
 11  DayOfWeek               69286 non-null  object
 12  Day                     69286 non-null  int64
 13  Month                   69286 non-null  int64
 14  Year                    69286 non-null  int64
dtypes: float64(4), int64(4), object(7)
memory usage: 6.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ObservationDate  500000 non-null  object
 1   ObservationTime  500000 non-null  object
 2   EntryDateTime    500000 non-null  object
 3   StationNumber    500000 non-null  object
 4   StationName      500000 non-null  object
 5   Latitude         500000 non-null  float64
 6   Longitude        500000 non-null  float64
 7   TotalPrecipAmt   500000 non-null  object
 8   NewSnowDepth     500000 non-null  object
 9   NewSnowSWE       500000 non-null  object
 10  TotalSnowDepth   500000 non-null  object
 11  TotalSnowSWE     500000 non-null  object
 12  DateTimeStamp    500000 non-null  object
dtypes: float64(2), object(11)
memory usage: 28.6+ MB

In [14]:
force_data.head()
# force_data.describe()

,X,Y,PoliceUseOfForceID,CaseNumber,ResponseDate,Problem,Is911Call,PrimaryOffense,SubjectInjury,ForceReportNumber,...,TotalCityCallsForYear,TotalPrecinctCallsForYear,TotalNeighborhoodCallsForYear,CenterGBSID,CenterLatitude,CenterLongitude,CenterX,CenterY,DateAdded,OBJECTID
0,-93.278939,44.979240,20804298,08-007154,2008/01/07 22:07:54+00,Suspicious Person,No,LOITER,No,2,...,322402,46998.0,23458,25860,44.979240,-93.278939,-1.038376e+07,5.618254e+06,2021/04/01 08:19:01+00,1
1,-93.286438,45.010118,20804299,08-018973,2008/01/19 22:53:35+00,Suspicious Vehicle,No,RECVEH,No,2,...,322402,80434.0,13679,18761,45.010118,-93.286438,-1.038460e+07,5.623115e+06,2021/04/01 08:19:01+00,2
2,-93.264618,45.002528,20804300,08-019216,2008/01/20 03:07:25+00,Unwanted Person,Yes,OBSTRU,Yes,2,...,322402,48901.0,2887,12778,45.002528,-93.264618,-1.038217e+07,5.621920e+06,2021/04/01 08:19:01+00,3
3,-93.257329,45.014978,20804301,08-026636,2008/01/28 02:04:13+00,Traffic Law Enforcement,No,DWIREF,NaN,1,...,322402,48901.0,4939,11032,45.014978,-93.257329,-1.038136e+07,5.623880e+06,2021/04/01 08:19:01+00,4
4,-93.269013,44.982137,20804302,08-032796,2008/02/03 00:50:46+00,Suspicious Person,No,OBSTRU,No,1,...,322402,46998.0,23458,16243,44.982137,-93.269013,-1.038266e+07,5.618710e+06,2021/04/01 08:19:01+00,5

In [15]:
shots_data.head()
# shots_data.describe()

,X,Y,OBJECTID,longitude,latitude,Jurisdiction,Master_Incident_Number,Division,Problem,Response_Date,Time,DayOfWeek,Day,Month,Year
0,-93.283588,44.957333,1,-93.283580,44.957325,MPD/MFD/HCMC,20-309298,Precinct 5,Sound of Shots Fired (P),2020/12/12 13:40:42+00,13:40:00,Saturday,12,12,2020
1,-93.300686,44.995218,2,-93.300678,44.995210,MPD/MFD/HCMC,20-309468,Precinct 4,Sound of Shots Fired (P),2020/12/12 18:20:50+00,18:20:00,Saturday,12,12,2020
2,-93.295645,44.999717,3,-93.295637,44.999709,MPD/MFD/North,20-309469,Precinct 4 North PSA,Shooting Report Only (P),2020/12/12 18:21:03+00,18:21:00,Saturday,12,12,2020
3,-93.319099,45.012434,4,-93.319092,45.012426,Out of Jurisdiction,20-309495,Out of Jurisdiction,Shooting Report Only (P),2020/12/12 18:51:05+00,18:51:00,Saturday,12,12,2020
4,-93.288103,45.028467,5,-93.288095,45.028459,MPD/MFD/North,20-309509,Precinct 4 North PSA,ShotSpotter Activation (P),2020/12/12 19:05:00+00,19:05:00,Saturday,12,12,2020

In [5]:
stop_data.head()
# stop_data.describe()

,OBJECTID,masterIncidentNumber,responseDate,reason,problem,callDisposition,citationIssued,personSearch,vehicleSearch,preRace,race,gender,lat,long,x,y,policePrecinct,neighborhood,lastUpdateDate
0,1,16-395258,2016/10/31 22:40:47+00,NaN,Suspicious Person (P),BKG-Booking,NaN,YES,NO,Black,Black,Male,44.979570,-93.272570,-1.038306e+07,5.618306e+06,1.0,Downtown West,2017/08/08 10:25:31+00
1,2,16-395296,2016/10/31 23:06:36+00,NaN,Traffic Law Enforcement (P),TAG-Tagged,NaN,NO,NO,Unknown,Black,Male,44.962689,-93.275921,-1.038343e+07,5.615650e+06,5.0,Steven's Square - Loring Heights,2017/08/08 10:26:13+00
2,3,16-395326,2016/10/31 23:20:54+00,NaN,Attempt Pick-Up (P),RFD-Refused,NaN,NO,NO,Unknown,Unknown,Unknown,45.024836,-93.288069,-1.038478e+07,5.625432e+06,4.0,Webber - Camden,2017/08/08 10:24:35+00
3,4,16-395328,2016/10/31 23:23:20+00,NaN,Suspicious Person (P),BKG-Booking,NaN,YES,NO,Black,Black,Male,44.946560,-93.247410,-1.038025e+07,5.613112e+06,3.0,Corcoran,2017/08/08 10:25:31+00
4,5,16-395333,2016/10/31 23:26:05+00,NaN,Suspicious Vehicle (P),GOA-Gone on Arrival,NaN,NO,NO,Other,Unknown,Male,44.906170,-93.255010,-1.038110e+07,5.606762e+06,3.0,Hale,2017/08/08 10:25:03+00

In [5]:
weather_data.head()
# weather_data.describe()

,ObservationDate,ObservationTime,EntryDateTime,StationNumber,StationName,Latitude,Longitude,TotalPrecipAmt,NewSnowDepth,NewSnowSWE,TotalSnowDepth,TotalSnowSWE,DateTimeStamp
0,2021-03-18,06:00:00,2021-03-18 08:48:00,MN-IT-7,Grand Rapids 6.2 SSW,47.136870,-93.566599,0.00,0.0,NA,3.0,NA,2021-03-18 13:47:30
1,2021-03-18,08:00:00,2021-03-18 09:15:00,MN-IT-6,Keewatin 0.2 SSE,47.398109,-93.081306,0.00,0.0,NA,NA,NA,2021-03-18 14:15:18
2,2021-03-18,07:00:00,2021-03-18 08:10:00,MN-DK-34,Farmington 1.7 SE,44.640715,-93.143233,0.00,0.0,NA,NA,NA,2021-03-18 13:09:57
3,2021-03-18,07:00:00,2021-03-18 09:08:00,MN-FM-10,Wykoff 3.1 NW,43.743399,-92.306516,T,T,NA,4.0,NA,2021-03-18 14:07:32
4,2021-03-18,07:00:00,2021-03-18 08:07:00,MN-SL-80,Winton 0.1 WSW,47.927559,-91.802849,0.00,0.0,NA,1.0,NA,2021-03-18 13:07:10